<template>
<div class="bg">
<form action="" method="post">

  <div class="container">
  <img src="../assets/pmm.png" alt="logo" height="100px" width="100px">
  <br>
  <br>
  <h3>Login</h3>
    <input type="text" placeholder="E-mail/Phone number" name="uname" required>
    <input type="password" placeholder="Password" name="psw" required>
    <br>
    <br>
    <br>

<span class="remember"><input type="checkbox" checked="checked">Remember me</span>

    <span class="fpsw"><a href="#">Forgot password?</a></span>
    <br>
    <br>
    <div>
      <button type="submit" id="submit">Login</button>
    </div>
   </div>


</form> 
 </div>
</template>

<script>
export default {
  name: 'login',
  props: {
    msg: String, 
  }
}
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.bg{
   background-image: url('../assets/pmm-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed ;
}


/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  background: transparent;
  border-bottom: 133px solid #fff;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-sizing: border-box;
}
button {
  background-color: #008080;
  color: white;
  padding: 5px 2px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  border-radius : 10px;
}
form {
  border-radius: 25px;
  border: 2px solid #fff;
   width: 30%;
  padding: 10px 18px;
  height: 100%;  
  align : right;
  display : inline-block;
  background-color: white;

}

button:hover {
  opacity: 0.8;
}
.container {
  padding: 50px;
}

/* The "Forgot password" text */
span.fpsw {
  float: right;
}
.remember {
  float: left;
  width:auto;
  color:#43BFC7
}

</style>
